<div class="comments-container">
  <% if post.comments_counter > 0 %>
          <% post.comments.each do |comment| %>
            <p class="comment"><%= @user.name %> : <%= comment.text %></p>
          <% end %>
          <% end %>
</div>