<section class="section">
<% if @user.nil? %>
  <h4>User not found</h4>
<% else %>
<div>
  <%= render partial: 'users/user', locals: { user: @user } %>
<div>
<% end %>

<ul>
<% @posts.each_with_index do |post, index| %>
  <li >
  <%= render partial: 'users/post', locals: { post: post, index: index } %>
  <%= render 'comments', post: post, user: @user %>
  </li>
  <% end %>
</ul>
</section>