*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  font-size: 18px;
  background-color: #fff;
  width: 100%;
  min-width: 100%;
  overflow-x: hidden;
  margin: 0;
  line-height: 1.2;

  /* color: #ececec; */
}

main {
  margin: 0 auto;
  width: 100%;
  padding: 0 0 0 20px;
}

section {
  margin-top: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.1;
}

p {
  margin: 0 0 15px 0;
  text-align: justify;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.medium-heading {
  font-size: 30px;

  @media (max-width: 600px) {
    font-size: 6vw;
  }

  @media (max-width: 400px) {
    font-size: 20px;
  }
}

.small-heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0 40px;
  width: 100%;
  white-space: nowrap;
  font-size: 20px;

  @media (max-width: 600px) {
    font-size: 5vw;
  }

  @media (max-width: 400px) {
    font-size: 30px;
  }
}

div#content {

}

div#header {

}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 70px;
  padding: 15px;
  text-align: center;
}
