*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  font-size: 18px;
  background-color: #fff;
  width: 100%;
  min-width: 100%;
  overflow-x: hidden;
  margin: 0;
  line-height: 1.2;
}

main {
  margin: 0 auto;
  padding: 0 10%;
}

section {
  margin-top: 60px;
}

.user {
  display: flex;
  height: 100px;
  border: 1px solid rebeccapurple;
  margin-bottom: 20px;
}

.user-details {
  display: grid;
  grid-template-columns: minmax(10px, 5fr) minmax(160px, 1fr) max-content;
  max-width: 80%;
}

.heading-container {
  margin-left: 80px;
  display: flex;
  align-items: center;
}

.post-counter-details {
  display: flex;
  align-items: end;
}

img {
  width: 100%;
  min-width: 100%;
  height: 100%;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.1;
}

p {
  margin: 0 0 15px 0;
  text-align: justify;
}

.medium-heading {
  font-size: 20px;
}

.small-heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0 40px;
  width: 100%;
  white-space: nowrap;
  font-size: 15px;
}

div#content {

}

div#header {

}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 70px;
  padding: 15px;
  text-align: center;
}

ul > li {
  list-style: none;
}
